resilience4j:
  circuitbreaker:
    configs:
      defecto:
        sliding-window-size: 6
        failure-rate-threshold: 50
        wait-duration-in-open-state: 20s
        permitted-number-of-calls-in-half-open-state: 4
        slow-call-duration-threshold: 3s
        slow-call-rate-threshold: 50
    instances:
      products:
        base-config: defecto
  timelimiter:
    configs:
      defecto:
        timeout-duration: 4s
    instances:
      products:
        base-config: defecto
spring:
 cloud:
  gateway:
   routes:
   - id: msvc-users
     uri: lb://msvc-users
     predicates:
     - Path=/api/users/** 
     filters:
     - StripPrefix=2
   - id: msvc-products
     uri: lb://msvc-products
     predicates:
     - Path=/api/products/**
    #  - Header=token, 123456
    #  - Method=GET, POST
    #  - Query=color, green
    #  - Cookie=color, blue
     filters:
     - StripPrefix=2
     - CircuitBreaker=products
     - name: SampleCookie
       args:
        message: HelloWorld
        name: users
        value: German
   - id: msvc-items
     uri: lb://msvc-items
     predicates:
     - Path=/api/items/**
     filters:
     - StripPrefix=2
     - AddRequestHeader=token-request, 123456
     - AddResponseHeader=token-response, 654321
     - AddRequestParameter=name, German
     - SetResponseHeader=Content-Type, text/plain
