spring:
 cloud:
  gateway:
   routes:
   - id: msvc-products
     uri: lb://msvc-products
     predicates:
     - Path=/api/products/**
    #  - Header=token, 123456
    #  - Method=GET, POST
    #  - Query=color, green
    #  - Cookie=color, blue
     filters:
     - StripPrefix=2
     - name: SampleCookie
       args:
        message: HelloWorld
        name: users
        value: German
   - id: msvc-items
     uri: lb://msvc-items
     predicates:
     - Path=/api/items/**
     filters:
     - StripPrefix=2
     - AddRequestHeader=token-request, 123456
     - AddResponseHeader=token-response, 654321
     - AddRequestParameter=name, German
     - SetResponseHeader=Content-Type, text/plain